%h2 Editing fabric
= render :partial => "form", :locals => {:fabric => @fabric}

- content_for :sub_menu do
  %li= link_to 'Back', fabrics_path, :class=>"back_link"
  %li= link_to 'Destroy', @fabric, :confirm => 'Are you sure?', :method => :delete, :class=>"delete_link"
