!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      Create a Shirt Prototype
    %link{ :href => "/stylesheets/wizard.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    %script{ :language => "javascript", :src => "/javascripts/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :language => "javascript", :src => "/javascripts/FormToWizard/formToWizard.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :language => "javascript", :type => "text/javascript", :charset => "utf-8" }
      $(document).ready(
      function() {
      $("#CreateForm").formToWizard({ submitButton: "CreateShirt" });
      
      $("input").change(function(){
      $(this).parents("fieldset").find(".highlighted").removeClass("highlighted");
      $(this).parent().addClass("highlighted");
      });
      });
  %body
    #container
      %form#CreateForm{ :action => "" }
        %fieldset
          %legend
            Choose Fabric
          %ul
            %li
              %label{ :for => "fabric1" }
                %span
                  Air
                %img{ :src => "img/fabric/1.jpg" }
              %input#fabric1{ :name => "fabric", :checked => "true", :type => "radio", :value => "1" }
        %p
          %input#CreateShirt{ :type => "button", :value => "Create Shirt!" }
