%table.data_list
  %thead
    %tr
      %th Preview
      %th Name
      %th Category
      %th Edit
  %tbody
    - features.each do |feature|
      %tr
        %td.preview=image_tag feature.photo.url(:small_thumb)
        %td=h feature.name
        %td=h feature.feature_category.name
        %td.actions
          = link_to edit_image, edit_feature_path(feature)
          =# link_to delete_image, feature, :confirm => 'Are you sure?', :method => :delete
